@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic');

  h1 {
    font-family: 'Amatic SC', cursive;
    text-align:center;
    font-size:4rem;
  }

body {
  background-color:gold;
}

.container {
  width:75%;
  margin:0;
}

.carousel-item {
  height:95vh;
}