@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic');

  h1 {
    font-family: 'Amatic SC', cursive;
    text-align:center;
    font-size:4rem;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 75%;
      margin: 0 auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }